{#
/**
 * @file
 * Theme override to display a front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.sidebar: Items for the sidebar.
 *
 * @see \Drupal\Core\Theme\ThemePreprocess::preprocessPage()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  {{ include('@rio/components/hero/hero.twig') }}

  <section class="py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-8">
          <div class="p-5">
            {{ page.content }}
          </div>
        </div>
        <div class="col-md-4">
          {% if page.sidebar is empty %}
          <h3>Related Events/News</h3>
          <div class="card h-100 border-0 shadow-sm">
            <img src="{{ theme_url }}themes/rio/screenshot.png" class="card-img-top" alt="Article Three">
            <div class="card-body">
              <h3 class="card-title h5 fw-bold mb-3">Article One</h3>
              <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <a href="#" class="btn btn-outline-primary">Detail</a>
            </div>
          </div>
          {% else %}
            {{ page.sidebar }}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

</div>{# /.layout-container #}
